@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: #00001c;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  padding: 40px;
}

.game-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.game-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Overlay hidden initially */
.game-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0,0,0,0.75);
  color: white;
  text-align: center;

  padding: 15px;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

/* Hover effects */

.game-card:hover img {
  transform: scale(1.1);
}

.game-card:hover .game-overlay {
  transform: translateY(0);
}